
		/*div{
			background: red;
			width: 100px; 
			height: 100px;
			border: 5px solid #000;
		}*/

		#d1{
			background: red;
			width: 100px; 
			height: 100px;
			border: 5px solid #000;
/*			margin: 10px 5px 8px 9px;*/
			/*padding-left: 20px;*/
			/*padding: 20px 40px;*/

		}

		/*#d2, #d3{
			background: green;
			width: 100px; 
			height: 100px;
		}*/

		.c1{
			background: green;
			width: 100px; 
			height: 100px;
		}

		#d2{
			position: relative;
			left: 200px;
			background:green;
			width: 350px; 
			height: 200px;
		}

		#d4{
			position: absolute;
			left: 125px;
			top: 50px;
			background: red;
			width: 100px; 
			height: 100px;
			border-radius: 50px;

		}
		#d4:hover{
			background: yellow;
			cursor: pointer;
		}
